body {

background: gray;
text-align: center;
font-family: Verdana, sans-serif;
}

h1 {

font-family: Verdana, sans-serif;
}

h1::first-letter {
font-size: 44px;
color: white;

}

p {

    color: red;
}

form {

    background-color: #d3d3d3;
    font-size: 16px;
    color: black;
    border-radius: 35px;
}

.input1 {

    border-radius: 30px;

}


#div1 {


display: flex;
align-items: center;
justify-content: center;

}

fieldset {

width: 500px;
border: 0px;
padding: 80px;
}

.button-verify {

border-radius: 15px;
font-size: 16px



}

.box-azul {

padding: 35px;
margin: 30px;
background-color: #d3d3d3;
width: 1200px;
height:500px;
border: 5px solid black;
margin-top: 20px
margin-bottom: 20px
margin-left: 20px
margin-right: 20px


}

ul {

text-decoration: underline;
}

ul::first-child {
color: red;

}


.box1 {

position: absolute;
top:50px;
left: 50px;
background-color: orange;



}

.box2 {

position: absolute;
top: 50px;
left: 50px;
background-color: yellow;

}

